<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
    fixedInViewport="true" fixedTopGap="64">

        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">
                    home
                </i>
                Início 
            </a>
            <a mat-list-item routerLink="/contas">
                <i class="material-icons">
                    <mat-icon>account_circle</mat-icon>
                </i>
                
               Conta 
            </a>
            <a mat-list-item routerLink="">
                <i class="material-icons">
                    <mat-icon>monetization_on</mat-icon>

                </i>
                
             Transações
            </a>


        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="content">
     <router-outlet>

     </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

