        <mat-card class="home mat-elevation-z3">
             <mat-card-title>
    
        <title>Banco Fácil - Sua Jornada Financeira Simplificada</title>
             </mat-card-title>

        <h1>Bem-vindo ao Banco Fácil</h1>
        <mat-card-subtitle class="subtitle">
        <p>Seja muito bem-vindo à nossa aplicação, o Banco Fácil, onde estamos comprometidos em tornar sua experiência bancária mais conveniente e acessível do que nunca. Aqui, colocamos o controle das suas finanças literalmente nas suas mãos.</p>
        
        <h2>Principais Recursos:</h2>
        <ol>
            <li><strong>Crie Sua Conta em Minutos:</strong> Nosso processo de criação de conta é rápido e descomplicado. Basta fornecer algumas informações básicas e você estará pronto para começar.</li>
            <li><strong>Deposite com Facilidade:</strong> Faça depósitos em sua conta a qualquer momento. Com múltiplas opções de depósito, você escolhe como deseja financiar sua conta.</li>
            <li><strong>Realize Saques Sem Complicações:</strong> Quando precisar de dinheiro em mãos, basta solicitar um saque. Nossa rede de caixas eletrônicos convenientemente localizados está ao seu alcance.</li>
            
        </ol>
    </mat-card-subtitle>
    </mat-card>
    