
<mat-card>
    <mat-card-title> Alterar produto</mat-card-title> 
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
             [(ngModel)]="conta.nomeTitular" name="nomeTitular">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saldo (R$)" 
            [(ngModel)]="conta.saldoConta" name="saldoConta" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Conta " 
            [(ngModel)]="conta.numeroConta" name="numeroConta" disabled="">
        </mat-form-field>
     </form>

<button mat-raised-button (click)="updateConta()" color="black"> 
    Atualizar 
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar 
</button>
</mat-card>
